<% if (mode==='multi' ) { %>
	<h2>Start Multiplayer Game</h2>
	<form class="game-form" action="/game/" method="post">
		<label for="user1">Player 1:</label>
		<input type="text" id="user1" name="user1" required />
		<label for="user2">Player 2:</label>
		<input type="text" id="user2" name="user2" required />
		<button type="submit">Start!</button>
	</form>
	<% } %>