<h1>Create New Profile</h1>
<form class="create-profile-form" action="/profile/create" method="post">
	<label for="username">Username:</label>
	<input type="text" id="username" name="username" required />
	<label for="email">Email address:</label>
	<input type="text" id="email" name="email" required />
	<label for="password">Password:</label>
	<input type="password" id="password" name="password" required></textarea>
	<p>...<%= status %></p>
	<button type="submit">Create</button>
</form>