<h1>Login</h1>
<div>
	<button onclick="location.href='/google-login';">log in with google</button>
</div>
<form class="login-form" action="/api/user" method="post">
	<label for="username">Username:</label>
	<input type="text" id="username" name="username" required />
	<label for="password">Password:</label>
	<input type="password" id="password" name="password" required></textarea>
	<p>...<%= status %>
	</p>
	<button type="submit">log in</button>
</form>
<div>
	<button onclick="location.href='/api/user/create';">create Profile</button>
</div>