<h1>User Profile</h1>
<% if(user){ %>
	<img src="<%= picture %>" width="200" height="200" >
	<p>Username: <%= username %>
	</p>
	<p>Email: <%= email %>
	</p>
	<button onclick="location.href='/api/user/logout';">log out</button>
<% } else{ %>
	<p>You are not logged in.</p>
	<a href="/login">Log in</a>
<% } %>